
  <ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>

  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Choose camel model">
      <form [formGroup]="firstFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Select camel model</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button  color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Choose variables and metrics">
      <form [formGroup]="secondFormGroup">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Variables</mat-label>
            <mat-select [formControl]="variables" multiple>
              <mat-option *ngFor="let variable of variableList" [value]="variable">{{variable}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Raw Metrics</mat-label>
            <mat-select [formControl]="rawMetrics" multiple>
              <mat-option *ngFor="let rawMetric of rawMetricList" [value]="rawMetric">{{rawMetric}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Composite Metrics</mat-label>
            <mat-select [formControl]="compositeMetrics" multiple>
              <mat-option *ngFor="let compositeMetric of compositeMetricList" [value]="compositeMetric">{{compositeMetric}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button  color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Specify template">
      <form [formGroup]="thirdFormGroup">
        <label id="example-radio-group-label">Pick template:</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="shape">

          <div *ngFor="let shape of shapes">
            <mat-radio-button class="example-radio-button" [value]="shape">
            {{shape}}
            </mat-radio-button>
          </div>
          <p></p>
          <label id="utility-label">Define Utility:</label>
          <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Max Utility</mat-label>
            <input matInput>
          </mat-form-field>
          </p>
          <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Min Utility</mat-label>
            <input matInput required>
          </mat-form-field>
          </p>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Define Weights">
      <label id="weights-label">Define weight of each dimension:</label>
      <form [formGroup]="forthFormGroup">
        <mat-form-field appearance="fill">
          <input matInput formControlName="weightsCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button  color="primary" matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>



