<ng-container [ngSwitch]="stepperOrientation | async">
  <div *ngSwitchCase="'horizontal'"></div>
  <div *ngSwitchCase="'vertical'"></div>
</ng-container>

<mat-stepper
  #stepper
  [orientation]="(stepperOrientation | async)!" class="example-stepper">
  <mat-step [stepControl]="firstFormGroup" label="Choose camel model">

    <form [formGroup]="firstFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Select camel model</mat-label>
        <mat-select #firstStep [disabled]="isCamelModelListLoading"
                    required>
          <mat-option #first (onSelectionChange)="firstStepComplete(first.value)"
                      *ngFor="let camelModel of camelModelList"
                      [value]="camelModel">{{camelModel}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="isVariablesLoading else elseBlockVariables"
           style="display: flex; justify-content: left; align-items: center;">
        <mat-label>Variables</mat-label>
        <mat-progress-spinner
          color="accent"
          diameter="50"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <div *ngIf="isCompositeMetricsLoading else elseBlockCompositeMetrics"
           style="display: flex; justify-content: left; align-items: center;">
        <mat-label>Composite Metrics</mat-label>
        <mat-progress-spinner
          color="accent"
          diameter="50"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <div *ngIf="isRawMetricsLoading else elseBlockRawMetrics"
           style="display: flex; justify-content: left; align-items: center;">
        <mat-label>Raw Metrics</mat-label>
        <mat-progress-spinner
          color="accent"
          diameter="50"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <ng-template #elseBlockVariables>
        <mat-list>
          <mat-label>Variables</mat-label>
          <mat-list-item *ngFor="let variable of variableList">{{variable.name}}</mat-list-item>
        </mat-list>
      </ng-template>
      <ng-template #elseBlockCompositeMetrics>
        <mat-list>
          <mat-label>Raw Metrics</mat-label>
          <mat-list-item *ngFor="let rawMetric of rawMetricList">{{rawMetric.name}}</mat-list-item>
        </mat-list>
      </ng-template>
      <ng-template #elseBlockRawMetrics>
        <mat-list>
          <mat-label>Composite Metrics</mat-label>
          <mat-list-item *ngFor="let compositeMetric of compositeMetricList">{{compositeMetric.name}}</mat-list-item>
        </mat-list>
      </ng-template>
      <div>
        <button color="primary" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Choose function">
    <form [formGroup]="thirdFormGroup">
      <label id="example-radio-group-label">Pick function:</label>
      <mat-selection-list #predefinedFunctionSelectionList
      >
        <mat-list-option *ngFor="let predefinedFunction of predefinedFunctions" [value]="predefinedFunction">
          <p>
            <mat-label> {{predefinedFunction.name}}</mat-label>
            <!--            <tr>-->
            <!--              <img src="{{predefinedFunction.src}}">-->
            <!--            </tr>-->
          </p>
        </mat-list-option>
      </mat-selection-list>

      <p>
        Options selected: {{ predefinedFunctionSelectionList.selectedOptions.selected.length}}
      </p>
      <div>

        <button (click)="openDialog(predefinedFunctionSelectionList.selectedOptions.selected,stepper)" color="primary"
                mat-button>Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="forthFormGroup" label="Define weights">
    <ng-container *ngFor="let selectedFunction of selected,let index = index; trackBy:trackByIndex;">
      <p>
        <mat-label>{{selectedFunction.name}}</mat-label>
        <mat-slider
          #mySlider
          (pointerup)="fillSliderValues(mySlider.value,index)"
          (slideend)="fillSliderValues(mySlider.value,index)"
          [displayWith]="formatLabel"
          aria-label="units"
          max="1"
          min="0"
          step="0.1"
          thumbLabel
          tickInterval="1000"></mat-slider>
      </p>
    </ng-container>
    <mat-label>Current weights sum: {{this.sum}}</mat-label>
    <button (click)="validateValuesFromSliders(stepper)" mat-button>Next</button>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You Created Function:</p>
    {{this.utilityFunction}}
    <div>
      <button color="secondary" mat-button matStepperPrevious>Back</button>
      <button (click)="onCreateFunctionClick(selected)" color="primary" mat-button>Save to Camel Model</button>
    </div>
  </mat-step>
</mat-stepper>
